<main class="card-flex">
    <div class=" card-container" *ngFor="let prod of adminProducts">
        <mat-card class="example-card ">
            <mat-card-header>
                <mat-card-title>{{prod.title}}</mat-card-title>
            </mat-card-header>
            <div class="image" mat-card-image>
                <img src='http://192.168.100.29:8080/{{prod.imageUrl }}' alt="{{prod.title}}">
            </div>
            <mat-card-content>
                <p style="background: #C9FFBF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
                    {{prod.description}}
                </p>
            </mat-card-content>
            <mat-card-actions class="example-actions">
                <button mat-raised-button>Edit</button>
                <button mat-raised-button>Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</main>