.center {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-error {
    font-size: 16px;
    line-height: 1.2em;
    color: red;
}

.mat-mdc-form-field {
    display: block;

}

.login_Btn {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}