<mat-card class="center">
    <form #signUpFormView="ngForm" [formGroup]="signUpForm" (submit)="signup()">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" formControlName="email">
            <mat-error *ngIf="f['email'].errors">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['pattern']">Email is not a valid email.</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="text" name="password" formControlName="userPassword">
            <mat-error *ngIf="f['userPassword'].errors">
                <div *ngIf="f['userPassword'].errors['required']">Password is required</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="text" name="Confirm Password" formControlName="confirmPassword">
            <mat-error *ngIf="f['confirmPassword'].errors">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm password is required</div>
                <div *ngIf="f['confirmPassword'].errors['confirmPasswordError']">Password and Confirm Password must
                    match.</div>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" style="margin-left: calc(43%)" color="primary">Sign Up</button>

    </form>
    <div class="row">
        <div class="col-md-6">
            <div class=" col-md-12 text-error mt-3" *ngIf="
                                      (errorMsg && signUpForm.invalid) || errorMsg
                                    ">
                {{ errorMsg }}
            </div>
        </div>
    </div>
</mat-card>