You can add global styles to this file,
and also import other style files html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

.card-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-around;
}

.card-container {
    margin: 20px;
}

element.style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-around;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-actions {
    margin-left: 90px;
}


.image {
    height: 25rem;
}

.image img {
    height: auto;
    width: 100%;
}